
a {
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h2 {
  color: maroon;
  font-size: 200%;
  border-bottom: 1px solid DarkSlateGrey;
}
table#movies {
  margin: 10px;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#movies th.hilite {
  background-color: yellow;
}
form label {
  line-height: 25px;
  display: block;
  color: maroon;
  font-weight: bold;
}