
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h2 {
  color: maroon;
  font-size: 200%;
  font-style: italic;
  display: block;
  border-bottom: 1px solid DarkSlateGrey;
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#movies th.hilite {
  background-color: yellow;
}


#notice #warning {
  padding: 4px;
  margin: 1em 0;
  background: rosybrown;
}
form label {
  line-height: 25px;
  display: block;
  color: maroon;
  font-weight: bold;
}